[init]
	defaultBranch = main
[user]
	email = 113627346+skdebela@users.noreply.github.com
	name = Samuel M. Debela
[core]
	editor = vim
[color]
	ui = auto
[credential]
	helper = manager-core
	credentialStore = secretservice
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    unstage = reset HEAD --
